amcl:
  ros__parameters:
    use_sim_time: true
    odom_frame_id: "odom"
    base_frame_id: "base_footprint"
    global_frame_id: "map"
    scan_topic: "/scan"

    min_particles: 500
    max_particles: 2000
    alpha1: 0.2
    alpha2: 0.2
    alpha3: 0.2
    alpha4: 0.2

map_server:
  ros__parameters:
    use_sim_time: true
    yaml_filename: "map.yaml"   # will be filled by launch argument

lifecycle_manager:
  ros__parameters:
    use_sim_time: true
    autostart: true
    node_names: ["map_server", "amcl"]
