amcl:
  ros__parameters:
    use_sim_time: true
    odom_frame_id: "odom"
    base_frame_id: "base_footprint"
    global_frame_id: "map"
    scan_topic: "/scan"
    min_particles: 500
    max_particles: 2000

map_server:
  ros__parameters:
    use_sim_time: true
    yaml_filename: ""   # overridden by launch arg

planner_server:
  ros__parameters:
    use_sim_time: true
    planner_plugins: ["GridBased"]
    GridBased:
      plugin: "nav2_navfn_planner/NavfnPlanner"

controller_server:
  ros__parameters:
    use_sim_time: true
    controller_plugins: ["FollowPath"]
    FollowPath:
      plugin: "dwb_core::DWBLocalPlanner"

bt_navigator:
  ros__parameters:
    use_sim_time: true

lifecycle_manager:
  ros__parameters:
    use_sim_time: true
    autostart: true
    node_names: ["map_server", "amcl", "planner_server", "controller_server", "bt_navigator"]
